*{
    margin: 0;
    padding: 0;
}
.container{
    height: 70vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cards{
    border: 2px solid black;
    background-color: bisque;
    min-height: 250px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
.cards:hover{
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
}
.myCards{
    list-style: none;
    padding: 20px;
    line-height: 40px;

}
#error{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    font-weight: 50px;
}
.hideMe{
    display: none;
}
.outercontainer{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fitNav{
    display: flex;
    gap: 5opx;
}